
# Distribution / packaging
.Python

# pyenv
.python-version

# poetry
poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# data
./data/weather_stations.csv

